

     <div class="card mt-2">

       <img src="./assets/bg-header.jpg" class="card-img-top img-header " alt="...">
       <div class="img-perfil">
          <img src="./assets/aboutme.jpg" class="card-img-top d-inline " alt="...">
          <button *ngIf="isLoged()" class="btn btn-admin text-dark d-inline" type="button" data-bs-toggle="modal" data-bs-target="#addEducationItemModal" >
           <i class="fas fa-pen"></i>
         </button> 

         git

       </div>
       <div class="card-body"></div>
         <div class="row p-3">
           <div class="col-6">
             <h4 class="card-title fw-bolder">Jorge Panigo</h4>
             <p class="card-text">Desarrollador FullStack Jr <br>
               La Plata (Argentina) <a href="#">Informacion de Contacto</a></p>
             <button type="submit" class="btn btn-primary">Tengo Interes en</button>
             <button type="submit" class="btn btn-light">Añadir Seccion</button>
             <button type="submit" class="btn btn-light">Mas</button>
           </div>
           <div class="col-6">
             <img src="./assets/logo_ap_black.png" alt="" height="120px" class="float-end"/>
            
           </div>
        
         
        
       
         
      
     </div>


