 <!-- Begin Proyect Item -->
 <div class="card border-0">

     <div class="card-body">
       <h5 class="card-title fw-bolder fs-6">{{proyectItem.title}}
        <i *ngIf="isLoged()" (click)="onDeleteItem()"  class="fas fa-trash float-end px-2 btn-admin float-end"></i>
        <i *ngIf="isLoged()" (click)="onEditItem()" class="fas fa-pen btn-admin float-end" data-bs-toggle="modal" data-bs-target="#addProyectItemModal"></i>
       </h5>
       <p class="card-text">
         {{proyectItem.description}}
       </p>
      
       <button class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#md'+this.index">Mas Info</button>
     </div>
   </div>
   <!-- End Proyect Item -->
<!-- Modal Detalle -->
<div class="modal fade" [id]="'md'+this.index" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{proyectItem.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{proyectItem.description}}</p>
        <img class="img-fluid" src="{{proyectItem.image}}" alt="">
        
      </div>
      <div class="modal-footer">
        <a *ngIf="proyectItem.githubLink" href="{{proyectItem.githubLink}}" class="btn btn-primary">Ir al repositorio GitHub</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
