 <!-- Begin Proyect Item -->
 <div class="card border-0">

     <div class="card-body">
       <h5 class="card-title">TAGAT</h5>
       <p class="card-text">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis facere possimus voluptatem a,
         ea culpa, exercitationem, nisi animi modi aliquam non nulla officiis dolorum voluptatum veniam optio
         eveniet dolorem minima?
       </p>
       <a href="#" class="btn btn-primary">Mas Info</a>
     </div>
   </div>
   <!-- End Proyect Item -->
