
<app-navbar
     [github]="persona.github"
     [linkedin]="persona.linkedin">
</app-navbar>
<div class="container">
     
     <app-header
     [header]="header"
     ></app-header>
     <app-aboutme 
     [description]="persona.aboutMe"
     ></app-aboutme>
     <app-education 
     [listEdu]="persona.educationList"
     ></app-education>
     <app-experience
     [experienceList]="persona.experienceList"
     ></app-experience>
     <app-skills
     [skillList]="persona.skillList"
     ></app-skills>
     <app-proyects
     [proyectList]="persona.proyectList"
     ></app-proyects>

</div>
