<section>
     <div class="row mt-4">


       <div class="item-educacion">
         <div class="card">
           <div class="card-body">
             <h5 class="card-title fw-bolder py-2">Educacion
              
                 <i *ngIf="isLoged()" (click)="FormEdu.resetForm(); toggleEdit(false);" class=" fas fa-plus float-end btn-admin"  data-bs-toggle="modal" data-bs-target="#addEducationItemModal"></i>
           
             </h5>
             <!-- APP_EDUCACION_ITEM -->
             <app-education-item
             *ngFor="let element of listEdu, let i=index"
             [itemEdu]="element" 
             [index]="i" 
             (onDeleteEduItem)="onDeleteEduItem($event)"
             (onEditEduItem)="onEditEduItem($event)"
             
             >
             </app-education-item>


           </div>
         </div>
       </div>

     </div>

        <!-- Begin Add Education Modal -->

        <div class="modal fade" id="addEducationItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 *ngIf="isEdit()" class="modal-title text-center" id="exampleModalLabel">Actualizar Educacion</h5>
               <h5 *ngIf="!isEdit()" class="modal-title text-center" id="exampleModalLabel">Agregar Educacion</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <form #FormEdu="ngForm" action="" (ngSubmit)="addItem(FormEdu); FormEdu.resetForm()">
                <input 
               
                type="hidden" 
                class="form-control mt-4" 
                name="id" 
                value=""
                [(ngModel)]="item.id"
                >
                
                <input 
                 id="institucion"
                 type="text" 
                 class="form-control mt-4" 
                 name="institution" 
                 placeholder="Entidad Educativa"
                 [(ngModel)]="item.institution"
                 >
                 <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="institutionImg" 
                 placeholder="Link Imagenes de la institucion"
                 [(ngModel)]="item.institutionImg"
                 >
                 <hr>
                 <input 
                 type="" 
                 class="form-control mt-4" 
                 name="degree" 
                 placeholder="Titulo"
                 [(ngModel)]="item.degree"
                 >
                 <div class="row mt-4 px-3">
                   <input 
                   type="date" 
                   class="form-control col " 
                   name="beginDate"
                   placeholder="Desde"
                   [(ngModel)]="item.beginDate"
                   >
                   <input 
                   type="date" 
                   class="form-control col" 
                   name="endDate"
                   placeholder="Hasta"
                   [(ngModel)]="item.endDate"
                   >
                 </div>
                 <div *ngIf="isEdit()" class="d-grid gap-2">
                   <button type="button"  (click)="updateItem()" class="btn btn-dark mt-4 " data-bs-dismiss="modal">Guardar Cambios</button>
                 </div>
                 <div *ngIf="!isEdit()" class="d-grid gap-2">
                  <button type="submit"  class="btn btn-dark mt-4 " data-bs-dismiss="modal">Agregar Item</button>
                </div>
               </form>
             </div>
           </div>
         </div>
       </div>
       <!-- End Add Education Modal -->
   

   </section>
