<section>
     <div class="row mt-4">


       <div class="item-educacion">
         <div class="card">
           <div class="card-body">
             <h5 class="card-title fw-bolder py-2">Educacion
               <button *ngIf="isLoged()" (click)="FormEdu.resetForm()" class="btn btn-admin text-dark float-end" type="button" data-bs-toggle="modal" data-bs-target="#addEducationItemModal" >
                 <i class="fas fa-plus"></i>
               </button>
             </h5>
             <!-- APP_EDUCACION_ITEM -->
             <app-education-item
             *ngFor="let element of listEdu, let i=index"
             [itemEdu]="element" 
             [index]="i" 
             (onEditEduItem)="onEditItem($event)"
             
             >
             </app-education-item>


           </div>
         </div>
       </div>

     </div>

        <!-- Begin Add Education Modal -->

        <div class="modal fade" id="addEducationItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title text-center" id="exampleModalLabel">Agregar Educacion</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <form #FormEdu="ngForm" action="" (ngSubmit)="addItem(FormEdu); FormEdu.resetForm()">
                 <input 
                 id="institucion"
                 type="text" 
                 class="form-control mt-4" 
                 name="institution" 
                 placeholder="Entidad Educativa"
                 [(ngModel)]="item.institution"
                 >
                 <input 
                 class="form-control mt-2" 
                 type="file" 
                 id="formFile" 
                 placeholder="Logo"
                 >
                 <hr>
                 <input 
                 type="" 
                 class="form-control mt-4" 
                 name="graduate" 
                 placeholder="Titulo"
                 [(ngModel)]="item.graduate"
                 >
                 <div class="row mt-4 px-3">
                   <input 
                   type="date" 
                   class="form-control col " 
                   name="beginDate"
                   placeholder="Desde"
                   [(ngModel)]="item.beginDate"
                   >
                   <input 
                   type="date" 
                   class="form-control col" 
                   name="endDate"
                   placeholder="Hasta"
                   [(ngModel)]="item.endDate"
                   >
                 </div>
                 <div class="d-grid gap-2">
                   <button type="button" (click)="saveItem()" class="btn btn-dark mt-4 " data-bs-dismiss="modal">Guardar Cambios</button>
                 </div>
                 <div class="d-grid gap-2">
                  <button type="submit"  class="btn btn-dark mt-4 " data-bs-dismiss="modal">Agregar Item</button>
                </div>
               </form>
             </div>
           </div>
         </div>
       </div>
       <!-- End Add Education Modal -->
   

   </section>
