<section>
     <div class="row mt-4">
       <div class="item-educacion">
         <div class="card">
           <div class="card-body">
             <h5 class="card-title fw-bolder">Proyectos
                 <i *ngIf="isLoged()" (click)="FormProyect.resetForm(); toggleEdit(false)" class="fas fa-plus btn-admin float-end" data-bs-toggle="modal" data-bs-target="#addProyectItemModal"></i>
             </h5>
            <!-- APP_PROYECT_ITEM -->
            <app-proyect-item
            *ngFor="let element of proyectList, let i=index"
            [proyectItem]="element"
            [index]="i"
            (onDelete)="onDeleteItem($event)"
            (onUpdate)="onUpdateItem($event)"
            ></app-proyect-item>
             

           </div>
         </div>
       </div>

     </div>
      <!-- Begin Add Experience Modal -->

      <div class="modal fade" id="addProyectItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title text-center" id="exampleModalLabel">Agregar Proyecto</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <form #FormProyect="ngForm" (ngSubmit)="addItem(FormProyect)">
                
                <input 
                type="hidden" 
                class="form-control mt-4" 
                name="id" 
                [(ngModel)]="proyectItem.id"
                >

                <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="title" 
                 placeholder="Nombre de Proyecto"
                 [(ngModel)]="proyectItem.title"
                 >
                 <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="category" 
                 placeholder="Categoria"
                 [(ngModel)]="proyectItem.category"
                 >
                 <textarea 
                 rows="8" 
                 class="form-control mt-4" 
                 name="description"
                 placeholder="Descripcion"
                 [(ngModel)]="proyectItem.description"
                 ></textarea>
                 <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="image" 
                 placeholder="Link de Screemshot"
                 [(ngModel)]="proyectItem.image"
                 >
                 <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="githubLink"
                 placeholder="Link Repositorio"
                 [(ngModel)]="proyectItem.githubLink"
                 >
               
               <div class="d-grid gap-2">
                 <button *ngIf="!isEdit()" type="submit" class="btn btn-dark mt-4" data-bs-dismiss="modal">Agregar Proyecto</button>
               </div>
               <div class="d-grid gap-2">
                <button *ngIf="isEdit()" (click)="updateItem(FormProyect)" type="button" class="btn btn-dark mt-4 " data-bs-dismiss="modal">Guardar Cambios</button>
              </div>
             </form>
           </div>
         </div>
       </div>
     </div>
     <!-- End Add Experience Modal -->

   </section>
