.btn-admin{  
   
     
     border-radius: 50%;
    cursor: pointer;
    
     text-align: center;
     
     
}

.img-header{
     
     
   
     
}

.mnegativo{
     margin: -80px;
}



.img-perfil{
     width: 200px;
     margin:0px 40px 0px 40px;
     height: 200px;
     min-height: 150px;
    
     /*
     position: absolute;
      top:20vw;
     left:0px; */
}

.img-perfil img{
     border-radius: 50%;
     border: 4px solid white;
     
     
}

.img-perfil i{
     position: absolute;
     top:20px;
     left:20px;
     background-color: white;
     border-radius: 50%;
     padding:8px;
}

.img-perfil1{
     width: 150px;
     height: 150px;
     position: absolute;
     top: 95px;
     left:0px;
     margin: 35px;
     border-radius: 50%;
     border: 3px solid white;

}

.progress{
     font-size: 1rem;
}