<section>
     <div class="row mt-4">


       <div class="item-educacion">
         <div class="card">
           <div class="card-body">
             <h5 class="card-title fw-bolder">Experiencia
                 <i *ngIf="isLoged()" (click)="FormExp.resetForm(); toggleEdit(false)" class="fas fa-plus btn-admin float-end" data-bs-toggle="modal" data-bs-target="#addExperienceItemModal"></i>
             </h5>
             <div class="card mb-3 border-0">
             <!-- EXPERIENCE_ITEM_COMPONENT -->
             <app-experience-item
             *ngFor="let element of experienceList, let i=index"
             [itemExp]="element"
             [index]="i"
             (onEdit)="onEditExp($event)"
             (onDelete)="deleteItem($event)">
            </app-experience-item>
             
             </div>
           </div>
         </div>
       </div>

     </div>

      <!-- Begin Add Experience Modal -->

      <div class="modal fade" id="addExperienceItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title text-center" id="exampleModalLabel">Agregar Experiencia</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <form #FormExp="ngForm" (ngSubmit)="addItem(FormExp)"  action="">

              <input 
                 type="hidden" 
                 class="form-control mt-4" 
                 name="id" 
                 placeholder="Empresa"
                 [(ngModel)]="item.id">
              

                 <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="company" 
                 placeholder="Empresa"
                 [(ngModel)]="item.company">

                 <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="companyImg" 
                 placeholder="Logo de la Empresa"
                 [(ngModel)]="item.companyImg">
                 
                 <input 
                 type="text" 
                 class="form-control mt-4" 
                 name="position" 
                 placeholder="Puesto"
                 [(ngModel)]="item.position">

                 <div class="row mt-1">
                   <input type="date" 
                   class="form-control col m-3" 
                   name="beginDate" 
                   placeholder="Desde"
                   [(ngModel)]="item.beginDate"
                   [value]="item.beginDate"
                   >
                   <input 
                   type="date" 
                   class="form-control col m-3" 
                   name="endDate" 
                   placeholder="Hasta"
                   [(ngModel)]="item.endDate"
                   [value]="item.endDate"
                   
                   >

                 </div>
                 
               
              
               
               <div class="d-grid gap-2">
                 <button *ngIf="!isEdit()" type="submit" class="btn btn-dark mt-4 " data-bs-dismiss="modal">Agregar Experiencia</button>
               </div>

               <div class="d-grid gap-2">
                <button *ngIf="isEdit()" type="button" (click)="updateItem()" class="btn btn-dark mt-4 " data-bs-dismiss="modal">Guardar Cambios</button>
              </div>
             </form>
           </div>
         </div>
       </div>
     </div>
     <!-- End Add Experience Modal -->

   </section>
